<?xml version="1.0" encoding="utf-8"?>
<Services>
  <Service>
    <Name>AMAZONS3</Name>
    <Type>Storage</Type>
    <ClassName>com.genexus.db.driver.ExternalProviderS3</ClassName>
    <Properties>
      <Property>
        <Name>STORAGE_PROVIDER_ACCESSKEYID</Name>
        <Value>fSKqlRsXn2X69Kq+xsAVxZQM0RHmjNpslEaCF98XbqU=</Value>
      </Property>
      <Property>
        <Name>STORAGE_PROVIDER_SECRETACCESSKEY</Name>
        <Value>A0kPyskmmMgUDh4FhzbSH/q7+VOJQrTBAyOeXHVocMbUEStFxSlgZEEtG0YkRVfc</Value>
      </Property>
      <Property>
        <Name>BUCKET_NAME</Name>
        <Value>cb10goqOtRRUZobhR+e9gr/jNnYcCNcpEHZMJc+ZQYU=</Value>
      </Property>
      <Property>
        <Name>FOLDER_NAME</Name>
        <Value>Geral</Value>
      </Property>
      <Property>
        <Name>STORAGE_PROVIDER_DEFAULT_ACL</Name>
        <Value>Default</Value>
      </Property>
      <Property>
        <Name>STORAGE_PROVIDER_DEFAULT_EXPIRATION</Name>
        <Value>1440</Value>
      </Property>
      <Property>
        <Name>STORAGE_PROVIDER_REGION</Name>
        <Value>sa-east-1</Value>
      </Property>
      <Property>
        <Name>STORAGE_ENDPOINT</Name>
        <Value>s3.amazonaws.com</Value>
      </Property>
      <Property>
        <Name>STORAGE_CUSTOM_ENDPOINT</Name>
        <Value />
      </Property>
    </Properties>
  </Service>
  <Service>
    <Name>INPROCESS</Name>
    <Type>WebNotifications</Type>
    <ClassName>com.genexus.internet.websocket.GXWebSocket</ClassName>
    <Properties>
      <Property>
        <Name>WEBNOTIFICATIONS_RECEIVED_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONOPEN_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONCLOSE_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONERROR_HANDLER</Name>
        <Value />
      </Property>
    </Properties>
  </Service>
</Services>